---
title: LIPPAN ART
layout: default
---

{% assign images = site.static_files | where_exp: "file", "file.path contains '/assets/images/lippanart/'" %}
<h2 style="text-align:center; margin-top:1.5em;">Lippan Art Gallery</h2>
<div class="lazy-gallery" data-lightbox="lippanart" data-images='[
	{% for image in images %}{"path": "{{ image.path }}", "name": "{{ image.name }}"}{% if forloop.last == false %},{% endif %}{% endfor %}
]'></div>
<!-- lazy-gallery.js is now included only once in head-custom.html -->
{% include footer.html %}
