---
title: PARTIES
layout: default
---

I do String Art parties for ages and abilities. <a href="mailto:untanglestringart@gmail.com">Contact Me</a> for more details.

{% assign images = site.static_files | where_exp: "file", "file.path contains '/assets/images/parties/'" %}
<div class="lazy-gallery" data-lightbox="parties" data-images='[
	{% for image in images %}{"path": "{{ image.path }}", "name": "{{ image.name }}"}{% if forloop.last == false %},{% endif %}{% endfor %}
]'></div>
<script src="/assets/js/lazy-gallery.js"></script>
{% include footer.html %}
