<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ site.title }}</a></h1>
      {% include navigation.html %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <hr/>
      <small>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</small>
    </footer>
  </body>
</html>
